<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapstone.mannersmoker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.GlobalApplication"
        android:allowBackup="false"
        android:icon="@drawable/smoking_place"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/smoking_place"
        android:supportsRtl="true"
        android:theme="@style/Theme.MannerSmoker"
        android:usesCleartextTraffic="true">

        <service android:name=".util.BackgroundLocationUpdateService" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaod1134cd947745b49f0d8c93f0dd4fe81" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LoginSelectActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"></activity>
        <activity android:name=".ui.map.AddNewSmokePlaceActivity" />
        <activity android:name=".ui.my.calendar.SmokeCalendarActivity" />
        <activity android:name=".ui.my.EditProfileActivity" />
        <activity android:name=".ui.my.SettingActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d1134cd947745b49f0d8c93f0dd4fe81" />
    </application>

</manifest>